ckpt*
pretrained_models/
head_data*
summary/
**/*.pyc
.idea/
medifor/
xin_videos/
viz.*
tmp/
readme(private).md
*.p
run.log
*.mp4
lyu_videos
gui/
train.py
test.py
data_proc_test.py
data_proc_train.py

